body {
    margin: 0;
}

.svg-container {
    width: 100%;
    min-width: 800px;
    height: 0;
    padding-top: 43%; /* ~ 700 / 1600 */
    position: relative;
}

svg {
    display: block;
    top: 0;
    left: 0;
    position: absolute;
}

svg text {
    cursor: pointer;
}

svg path {
    cursor: pointer;
}

#loader {
    width: 100%;
    text-align: center;
    margin-top: 20%;
}

.bar {
    line-height: 50px;
    padding-left: 8%;
    padding-right: 8%;
    width: 84%;
    min-width: 800px;
}

.navbar {
    padding-top: 40px;
    font-size: 25pt;
}

.hidden {
    display: none;
}

.selected-node {
    font-weight: bold;
}

.foot {
    padding-top: 1%;
    text-align: center;
    font-size: 10pt;
}

.foot a {
    color: #aaaaaa;
}

.title {
    display: inline-block;
    width: 40%;
    padding: 0;
    margin: 0;
}

.search {
    width: 40%;
    margin: 0;
    padding: 0;
    font-size: 14pt;
    display: inline-block;
    vertical-align: bottom;
}

#search {
    display: inline-block;
    width: 80%;
    font-size: 14pt;
    border: 0;
    border-bottom: 1px solid gray;
}

#search.not-found {
    color: gray;
}

#results {
    font-size: 12pt;
    position: absolute;
    line-height: normal;
    z-index: 100;
}

.result-line {
    display: block;
    z-index: 110;
}

a {
    text-decoration: none;
    color: black;
}
